@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300;500&display=swap');

:root {
    --font: 'M PLUS Code Latin', sans-serif;
    --white: #FEF9EF;
    --blue: #A2D2FF;
    --yellow: #FFF195;
}

body {
    background-color: var(--yellow);
    font-family: var(--font);
}

.header-component {
    border-bottom: .2rem solid var(--blue);
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: var(--blue);
}

.header-component .logo {
    width: 4.2rem;
    height: 4.2rem;
    padding: 1rem;
    border: 1rem solid var(--yellow);
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 4rem;
    background-color: var(--blue);
    color: var(--white);
}

.header-component h1 {
    flex: auto;
    font-size: 3rem;
    text-align: center;
    color: var(--white);
}